.prep {
    color: var(--secondary-color);
    font-family: 'open sans';
    display: inline-flex;
    font-size: 15px;
    color: rgb(180, 1, 180);

}

.prep a {
    text-decoration: none;
    color: rgb(180, 1, 180);
}

.prep a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}


.project {
    display: inline-flex;
    font-family: 'm plus rounded 1c';
    font-size: 20px;
    color: var(--secondary-color);
}

.section-title1 {
    color: var(--secondary-color);
    font-family: 'm plus rounded 1c';
    font-size: large;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 5px;
    text-decoration-color: gray;
    display: inline-flex;
    padding: 5px;
}

.part-desc{
    display: inline-flex;
    color: var(--secondary-color);
    font-family: 'open sans';
}

.overview1 {
    margin-top: 30px;
    width: 400px;
    height: 213px;
    border-radius: 10px;
}

.demo {
    text-decoration: none;
    color: var(--primary-color);
}

.my-portfolio {
    margin-top: 25px;
}